src/main/resources/ValidationService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://ws.validations.bet.datacentre.co.zw/"
           xmlns:tns="http://ws.validations.bet.datacentre.co.zw/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="getAccountBalanceRequest" type="tns:getAccountBalance"/>

    <xs:element name="getAccountBalanceResponse" type="tns:getAccountBalanceResponse"/>

    <xs:element name="getAccountDetailsRequest" type="tns:getAccountDetails"/>

    <xs:element name="getAccountDetailsResponse" type="tns:getAccountDetailsResponse"/>

    <xs:element name="getAccountsRequest" type="tns:getAccounts"/>

    <xs:element name="getAccountsResponse" type="tns:getAccountsResponse"/>

    <xs:element name="processMiniStatementRequest" type="tns:processMiniStatement"/>

    <xs:element name="processMiniStatementResponse" type="tns:processMiniStatementResponse"/>

    <xs:element name="validateAccountRequest" type="tns:validateAccount"/>

    <xs:element name="validateAccountResponse" type="tns:validateAccountResponse"/>

    <xs:element name="validateAgentAccountRequest" type="tns:validateAgentAccount"/>

    <xs:element name="validateAgentAccountResponse" type="tns:validateAgentAccountResponse"/>

    <xs:element name="validateCustomerRequest" type="tns:validateCustomer"/>

    <xs:element name="validateCustomerResponse" type="tns:validateCustomerResponse"/>

    <xs:element name="validateMobileNumberRequest" type="tns:validateMobileNumber"/>

    <xs:element name="validateMobileNumberResponse" type="tns:validateMobileNumberResponse"/>

    <xs:complexType name="validateMobileNumber">
        <xs:sequence>
            <xs:element name="mobileNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validateMobileNumberResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:response" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="response">
        <xs:sequence>
            <xs:element name="narrative" type="xs:string" minOccurs="0"/>
            <xs:element name="status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validateAccount">
        <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validateAccountResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:response" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAccountBalance">
        <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAccountBalanceResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:account" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="account">
        <xs:sequence>
            <xs:element name="accountName" type="xs:string" minOccurs="0"/>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="accountType" type="xs:string" minOccurs="0"/>
            <xs:element name="availableBalance" type="xs:decimal" minOccurs="0"/>
            <xs:element name="currency" type="xs:string" minOccurs="0"/>
            <xs:element name="ledgerBalance" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validateCustomer">
        <xs:sequence>
            <xs:element name="mobileNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="nationalId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validateCustomerResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:response" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAccountDetails">
        <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAccountDetailsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:account" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="processMiniStatement">
        <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="processMiniStatementResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validateAgentAccount">
        <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="mobileNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validateAgentAccountResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAccounts">
        <xs:sequence>
            <xs:element name="mobileNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="nationalId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAccountsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

